@use "./../../styles/global";

.container {
  &__input {
    @include global.border-radius-xs;
    @include global.border-thin(global.$color-gray-400);

    padding: global.$size-m;
    font-size: global.$size-m;
    width: 100%;
  }
}
