@use "./../../styles/global";

.textarea {
  @include global.flexbox($alignItems: center);
  @include global.border-radius-xs;
  @include global.border-thin(global.$color-gray-400);

  background-color: global.$color-white;
  font-size: global.$size-m;
  resize: vertical;
  padding: global.$size-m;
  text-align: left;
  white-space: pre-wrap;
  width: 100%;
}
