$color-primary-blue: #1200ff;
$color-secondary-blue: rgba(18, 0, 255, 0.08);
$color-primary-teal: #3acab9;
$color-secondary-teal: rgba(58, 202, 185, 0.08);

$color-purple-500: #7400ff;
$color-purple-400: #a254ff;

$color-gray-800: #202020;
$color-gray-700: #404040;
$color-gray-600: #606060;
$color-gray-500: #808080;
$color-gray-400: #9f9f9f;
$color-gray-300: #bfbfbf;
$color-gray-200: #dfdfdf;
$color-gray-100: #f1f1f1;

$color-red: rgb(216, 46, 46);
$color-green: rgb(38, 182, 38);

$color-white: #ffffff;
$color-black: #000000;
