@use "./../../styles/global";

.container {
  @include global.flexbox($justifyContent: space-around, $alignItems: center);

  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding: global.$size-m;
  &__hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
  }
  &__hero {
    object-fit: contain;
  }
  &__form {
    @include global.flexbox($direction: column, $alignItems: center);
    min-width: 434px;
  }
}
