@use "./../../styles/global";

.sidebar {
  @include global.flexbox($direction: column);
  max-width: 230px;
  flex-shrink: 0;

  &__content {
    @include global.flexbox($direction: column, $gap: global.$size-xl);
  }

  &__header {
    font-weight: 600;
    @include global.flexbox($direction: column, $gap: global.$size-s);
  }

  &__header-content {
    @include global.flexbox($justifyContent: space-between);
  }
}
