@use "./../../styles/global";

.sidebar {
  @include global.flexbox($direction: column);
  width: 230px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  max-height: 100dvh;
  &__content {
    @include global.flexbox($direction: column, $gap: global.$size-xl);
  }

  &__header {
    font-weight: 600;
    @include global.flexbox($direction: column, $gap: global.$size-s);
  }

  &__header-content {
    @include global.flexbox($justifyContent: space-between);
  }

  &__new-post-button {
    color: global.$color-black;
  }
}
