@use "./../../styles/global";

.select {
  @include global.flexbox($direction: column, $gap: global.$size-s);

  position: relative;

  &__label {
    text-align: left;
  }

  &__input {
    @include global.flexbox($alignItems: center);
    @include global.border-radius-xs;
    @include global.border-thin(global.$color-gray-400);

    background-color: global.$color-white;
    padding: global.$size-m;
    font-size: global.$size-m;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: global.$color-gray-100;
    }
  }

  &__value {
    align-self: center;
    user-select: none;
  }

  &__placeholder {
    color: global.$color-gray-500;
  }

  &__icon {
    rotate: 180deg;
    color: global.$color-black;
    position: absolute;
    margin-right: global.$size-m;
    right: 0;
    transition: rotate 300ms linear;
  }

  &__input--focused {
    outline: auto;
    z-index: 1;
  }

  &__input--focused &__icon {
    rotate: 0deg;
  }

  &__list {
    @include global.flexbox($direction: column);
    @include global.border-radius-xs;

    background-color: global.$color-white;
    border: 1px solid global.$color-gray-200;

    position: absolute;
    top: global.$size-4xl;
    width: 100%;
    z-index: 2;
  }

  &__list-item {
    @include global.flexbox($alignItems: center);
    @include global.border-radius-xs;

    border: none;
    background-color: global.$color-white;
    padding: global.$size-m;
    font-size: global.$size-m;
    width: 100%;
    text-align: left;

    &:first-child {
      border-radius: global.$size-xs global.$size-xs 0 0;
    }

    &:last-child {
      border-radius: 0 0 global.$size-xs global.$size-xs;
    }

    &:hover {
      background-color: global.$color-primary-teal;
      color: global.$color-white;
    }
    &--selected {
      background-color: global.$color-purple-400;
      color: global.$color-white;
      z-index: 1;
    }
  }
}
