@use "./../variables/sizes";

@mixin border-radius-xs {
  border-radius: sizes.$size-xs;
}

@mixin border-radius-m {
  border-radius: sizes.$size-m;
}

@mixin border-radius-circle {
  border-radius: 50%;
}
